body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  max-width: 1388px;
  margin: auto;
  min-height: 100vh;
  align-items: center;
}

.container div h1 {
  font-size: 1.4rem;
  align-self: flex-start;
  margin: 4rem;
  margin-bottom: 8rem;

}

.form-container {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(246, 248, 247);
  height: 100vh;
}

.preview-container {
  color: white;
  background-color: rgb(46, 46, 46);
  height: 100vh;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preview-container h1 {
  margin-bottom: 12rem!important;
}


.card-form {
  width: 50%;
}

input, textarea, button, select{
  font-family: sans-serif;
  outline: none;
  padding: .4rem;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(58, 67, 83);
  margin: 1rem 0;
}

.card-form .name-input, .description-input, select {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  padding: .4rem;
  border: none;
  border-bottom: 1px solid black;
}

.card-form .row-label {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.row-label input {

}

.name-input, .description-input, select {
  margin: .5rem 0 1rem 0;
}

.description-input, select {
  width: 93%;
}

.input-box {
  display: flex;
  align-items: center;
  gap: .5rem;
  flex-direction: row!important;
}

.row-label .input-box {
  flex-basis: 100%;
}

.row-label .input-box input {
  width: 100%;
}

.fa-solid.fa-circle-check {
  color: rgb(89, 121, 89);
  margin-left: -1.36rem;
  visibility: hidden;
}

.exclamation {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
  color: rgb(197, 17, 17);
  font-weight: 600;
  border: 2px solid rgb(197, 17, 17);
  width: .66rem;
  height: .65rem;
}

button {
  padding: 0.5rem 1.5rem;
  border: none;
  color: white;
  background-color: rgb(77, 77, 243);
  border-radius: 0.2rem;
  margin: 3rem 0;
}

button:disabled {
  opacity: .3;
  pointer-events: none;
}

input[type='checkbox'] {
  accent-color: rgb(79, 117, 79);
}

.card-border {
  background-color:  rgb(63, 114, 86);
  padding: .8rem;
  border-radius: .5rem;
  width: 90%;
}
.card {
  color: black;
  box-sizing: border-box;
  border-radius: .5rem;
  padding: .45rem .3rem;
  width: 17rem;
  background-color: white;
  max-height: 24.5rem;
}

.card .name-card {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(46, 46, 46);
  width: 100%;
  min-height: 2.2rem;
  text-align: right;
  color: white;
  margin: 0;
  padding: .5rem;
  box-sizing: border-box;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

.card img {
  width: 100%;
  min-width: 100%;
  background-color: white;
  min-height: 11rem;
  max-height: 11rem;
}

.description-card {
  background-color:  rgb(63, 114, 86);
  padding: .3rem;
  box-sizing: border-box;
  font-size: 9px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  transform: rotateZ(-6deg) translateX(.5px) translateY(-1.9rem);
  width: 104%;
  word-wrap: break-word;
  min-height: 2.3rem;

}

.super-trunfo {
  font-size: 10px;
  font-weight: 600;
  color: white;
  width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(63, 114, 86);
  border: .3rem solid rgb(46, 46, 46);
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: -3.19rem;
  transform: translateX(11.5rem) rotateZ(-15deg) translateY(-2.5rem);
}

.attr {
  margin: 0;
  margin-top: .1rem;
  color: white;
  display: flex;

}

.attr span {
  box-sizing: border-box;
  padding: .3rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: rgba(217, 218, 221, 0.35);
  color: rgb(71, 79, 97);
  font-size: 12px;
  font-weight: 600;
}

.attr .attr-value {
  background-color: rgb(46, 46, 46);
  color: white;
  border-radius: 0;
  padding: .3rem .8rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: flex;
  width: 2rem;
  justify-content: center;
}

.attr-container {
  margin-top: -3.68rem;
  padding-top: 2.5rem;
  width: 100%;
  background-color: white;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.deck-list {
  text-align: center;
  max-width: 1388px;
  margin: 0 auto;
  background-color: rgb(246, 248, 247);
}

.deck-list h1 {
  margin: 0;
  padding-top: 3rem;
  font-size: 1.5rem;
}

.deck {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.deck .card {
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.3);
  margin: 1.5rem 0;
  text-align: left;
}






